#header-card {
	padding-bottom: 3.75rem;
}

#input {
    width: 40%;
    /* TODO: on small screen this needs to be disabled. */
}

#input-field {
    margin-right: 5%;
}

#start-btn {
    float: left;
    margin-left: 1em;
}

#stop-btn {
    float: left;
    margin-left: 1em;
}

#nickname {
    float: left;
    font-size: 150%;
}

#counter {
    font-size: 150%;
    margin: auto;
    padding-right: 5%;
}

#counterTime {
	font-size: 150%;
	margin: auto;
}

#score {
	font-size: 150%;
	float: right;
	padding-left: 1%;
}

#score, p {
	display: inline;
}