#card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#input {
    width: 40%;
    /* TODO: on small screen this needs to be disabled. */
}

#input-field {
    margin-right: 5%;
}

#start-btn {
    float: left;
    margin-left: 1em;
}

#stop-btn {
    float: left;
    margin-left: 1em;
}

#nickname {
    float: left;
    font-size: 150%;
}

#score, #questions, #counterTime {
	font-size: 150%;
	margin: auto;
}

#score, p {
	display: inline;
}

#question-p {
	font-size: 250%;
}

#playersGameInfo {
	text-align: center;
	display: ruby;
}

#playerControl {
	text-align: center;
	display: ruby;
}