/* change the input bar so there is no styling. */
input[type=number] {
    -moz-appearance: textfield;
    margin: 0;
}

#card {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

input {
    text-align: center;
}
